#keyword_mixer {
    font-weight: normal
}

#keyword_mixer .nav-pills {
    background: #eee;
    border-radius: 4px;
    margin-bottom: 30px
}

#keyword_mixer .nav-pills li.label > a,
#keyword_mixer .nav-pills li.active.label > a {
    color: #555;
    font-size: 14px;
    font-weight: normal;
    background: none
}

#keyword_mixer .nav-pills li input {
    display: block;
    border-radius: 2px;
    border: 1px solid #444;
    width: 100%;
    font-size: 18px;
    position: absolute;
    top: 100%;
    left: 0px;
    height: auto;
    color: #555;
    padding: 10px;
    margin-top: 4px
}

#keyword_mixer #extraOptions {
    padding: 30px 0 50px
}

#keyword_mixer #optionsOpen {
    font-weight: 300;
    font-size: 36px;
    margin: 20px 0
}

#keyword_mixer textarea.column {
    border: 1px solid #ccc;
    background: #fff;
    width: 100%;
    font-size: 18px;
    border-radius: 7px;
    font-size: 16px;
    color: #555;
    height: 243px;
    outline: 0;
    padding: 10px;
    margin-bottom: 30px
}

#keyword_mixer textarea.column:hover {
    border: 1px dashed #ccc
}

#keyword_mixer textarea::-webkit-scrollbar {
    width: 13px;
    height: 13px;
    background: rgba(0, 0, 0, .05);
    -webkit-border-radius: 5px
}

#keyword_mixer textarea::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-top: 1px solid #fff;
    background: #ccc -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(240, 240, 240)), to(rgb(210, 210, 210)));
    -webkit-border-radius: 5px
}

#keyword_mixer .cursorPointer:hover {
    cursor: pointer
}

#keyword_mixer #mergeButton {
    background: #f27d1f;
    border: 1px solid #f27d1f;
    color: #fff;
    font-size: 23px;
    height: auto;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none
}

#keyword_mixer #buttonArea {
    margin-top: 22px
}

.adv-keywords .panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.adv-keywords .panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;    background: #ededed !important; color:black;
}

.adv-keywords .panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.adv-keywords .panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.adv-keywords .panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.adv-keywords .panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.resdiv{margin-bottom:30px;}
#keyword_mixer #mergeButton {
    background: #f4a63a;    
    font-size: 18px;
    height: auto;
    padding: 5px 50px;    
    border-radius: 8px;margin-bottom:30px;
}

#keyword_mixer .nav-pills {
    background: #eee;
    border-radius: 4px;
    margin-bottom: 30px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
#keyword_mixer .nav-pills li.label > a, #keyword_mixer .nav-pills li.active.label > a {
    color: #555;
    font-size: 14px;
    font-weight: normal;
    background: none;
}

.nav-pills>li {
    float: left;
}

.nav>li {
    position: relative;
    display: block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-pills>li>a {
    border-radius: 4px;
}
a.pressed{
  background: #337ab7;
  color: #fff !important;
}